fastapi
uvicorn
python-multipart
pydub
librosa
numpy
python-dotenv
soundfile
requests
scipy
setuptools

# Keras with Torch Backend (No TensorFlow)
keras

# Torch CPU-only (Critical for size < 4GB)
torch==2.3.1 --index-url https://download.pytorch.org/whl/cpu
